@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #1c1e56;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glass {
  background: rgba(192, 192, 192, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(192, 192, 192, 0.3);
}

.gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 229, 190, 1) 80%,
    rgba(242, 103, 34, 1) 98%,
    rgba(184, 32, 46, 1) 100%
  );
}

.gradient-blue {
  background: linear-gradient(
    180deg,
    rgba(29, 24, 96, 1) 0%,
    rgba(242, 103, 34, 1) 61%,
    rgba(242, 103, 34, 1) 61%,
    rgba(184, 32, 46, 1) 82%
  );
}
.gradient-nav {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.61),
    rgba(0, 0, 0, 0.29),
    rgba(0, 0, 0, 0)
  );
}

.gradient-border {
  --borderWidth: 3px;
  background: #1d1f2090;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #ef7a05,
    #f7b205,
    #f4d006,
    #ddff02,
    #ff9a03,
    #ff9d00,
    #ff4d00,
    #ff4400
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.updown {
  animation: MoveUpDown 5s linear infinite;
  position: absolute;
  right: 0;
  top: 53vw;
}

@keyframes MoveUpDown {
  0%, 100% {
    top: 53vw;
  }
  50% {
    top: 50vw;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}
